:root {
  --spotifyGreen: #1db954;
  --bg-primary: #040306;
  --primaryBg: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.15) 0%,
      rgba(0, 0, 0, 0.15) 100%
    ),
    radial-gradient(
        at top center,
        rgba(0, 0, 0, 0.4) 0%,
        rgba(0, 0, 0, 0.4) 120%
      )
      #989898;
  background-blend-mode: multiply, multiply;
  --secondaryBg: linear-gradient(to bottom, #202020 0%, black 100%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.landing-page {
  background-color: black;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-name {
  color: white;
  text-align: center;
}

.loginToSpotifyLink {
  text-align: center;
  margin: 1rem;
  text-decoration: none;
  background-color: var(--spotifyGreen);
  padding: 1rem;
  border-radius: 25px;
  width: 10vw;
}

.current-page {
  margin-left: 10vw;
  width: 90vw;
  height: 100vh;
  overflow: hidden;
}

a{
  text-decoration: none;

  color:white
}