.user-profile-container {
  width: 100%;
}

.user-profile-section {
  display: flex;
  flex-direction: column;
  /* min-width: 500px; */
  width: 100%;
}

.nav-container {
  width: 10vw;
  min-width: 150px;
  height: 100vh;
  padding-block: 3rem;
  background-color: black;
  position: fixed;
}

.spotify-logo {
  height: 70px;
  width: 70px;
  cursor: pointer;
}

.nav-container-list {
  list-style: none;
  color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.detail-list-item:hover {
  background-color: rgb(94, 94, 94);
  border-left: 10px solid var(--spotifyGreen);
  transition: 0.3s all ease;
}

.detail-list {
  list-style: none;
  text-align: center;
  width: 100%;
}

.detail-list-item {
  padding-block: 1rem;
  cursor: pointer;
}

.user-track-list {
  background-image: linear-gradient(to bottom, #202020 0%, black 100%);
  width: 100%;
  height: 60vh;
  padding: 3rem;
  display: flex;
}

.top-artists, 
.top-songs {
  display: flex;
  flex-wrap: wrap;
  /* overflow: scroll; */
}
.top-artists::-webkit-scrollbar,
.top-songs::--webkit-scrollbar
.user-track-list {
  display: none;
}
.artists-container {
  width: 60%;
  margin-right: 2rem;
}
.top-songs-container {
  width: 50%;
}

.active {
  background-color: rgb(94, 94, 94);
  border-left: 10px solid var(--spotifyGreen);
  transition: 0.3s all ease;
}

.detail-list-item[aria-current="page"] {
  background-color: rgb(94, 94, 94);
  border-left: 10px solid var(--spotifyGreen);
  transition: 0.3s all ease;
}

@media screen and (max-width: 600px) {
  .logo-item {
    display: none;
  }

  .git-item {
    display: none;
  }

  .nav-container {
    display: flex;
    position: fixed;
    flex-direction: row;
    width: 100vw;
    bottom: 0;
    height: 10vh;
  }

  .detail-list {
    display: flex;
    width: 100vw;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
  }
}
