.playlist-page-container{
  height: 100vh;
  background-image: linear-gradient(
    to bottom,
    #254f8e,
    #263c69,
    #202946,
    #171927,
    #030304
  );
}


.playlist-page-header {
  width: 100%;
  padding: 2rem;

}

.playlists-container {

  padding: 2rem;
}

.playlists-container{
  display: flex;
  flex-wrap: wrap;
}