.playlist-page-header {
  height: 40vh;
  width: 100%;
  padding: 2rem;
  background-image: linear-gradient(
    to bottom,
    #0651c2,
    #0851b5,
    #1251a9,
    #1c509b,
    #254f8e
  );
  box-shadow: 2px 2px 2px #171927;
}
